@import '~antd/dist/antd.css';

.site-layout-background {
    background: white;
  }
   
.site-top-game-list ul {
max-height: 700px;
overflow-y: auto;
overflow-x: hidden;
}

.ant-btn-default:hover {
    color: #9147ff;
    border-color: #9147ff;
}