@import '~antd/dist/antd.css';

:root {
  --brand-color-purple: #9146ff;
  --brand-color-bcground-sider: #f7f7f8;
}

.site-layout-background {
  background: #fff;
}

.ant-layout {
  background-color: white;
}

.ant-layout-header {
  background-color: white;
  z-index: 100;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.search-bar .ant-input {
  background-color: rgba(0, 0, 0, 0.1);
}

.ant-col .ant-input-search .ant-input:hover {
  background-color: white;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.ant-col .ant-input-search .ant-input:focus {
  background-color: white;
  border-color: var(--brand-color-purple);
  box-shadow: 0 0 0 2px var(--brand-color-purple);
}

.search-bar .ant-btn-primary {
  background-color: rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.search-bar .ant-btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ant-col .ant-input-group>.ant-input:first-child,
.ant-input-group-addon:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.ant-col .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 4px 5px;
}

.ant-col .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child {
  left: 2px;
}

.ant-input-group-addon .anticon svg {
  width: 20px;
  height: 20px;
  color: black;
}

.ant-layout-sider-dark {
  background-color: var(--brand-color-bcground-sider);
}

.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 5px;
}

.favorite-icon {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.footer {
  margin: auto;
  width: 100%;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}